*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	cursor: pointer;
}

textarea {
	resize: vertical;
}
